@import url('./reset.css');


*,
:after,
:before {
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 32px;
  justify-content: center;
}

.input {
  font-family: inherit;
  font-size: 16px;

  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;

  padding: 8px 16px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
}

.input:hover {
  border: 1px solid #000;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4E75FF;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  width: 90px;
  height: 40px;
  padding: 8px 16px;
}

.btn:hover {
  background: #6C8CFF;
}

::placeholder {
  color: #808080;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.info-card {
  display: flex;
  padding: 4px 25px 4px 20px;
  gap: 32px
}

.info-card li {
  text-align: center;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  display: block;
}

.img-item {
  border: 1px solid #808080;
}

.info-label {
  font-weight: 600;
  line-height: 1.33;
}


.loader {
  display: block;
  position: relative;
  height: 32px;
  width: 120px;
  border-bottom: 5px solid #6C8CFF;
  box-sizing: border-box;
  animation: balancing 4s linear infinite alternate;
  transform-origin: 50% 100%;
  left: 45%;
  transform: translateX(-50%);
  bottom: 20px;
  display: none;
}

.loader:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #FF3D00;
  animation: ballbns 4s linear infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 20px;
  width: 20px;
  transform: translate(-50%, 100%);
  border-radius: 50%;
  border: 6px solid #6C8CFF;
  bottom: 10px;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }

  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}

@keyframes balancing {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

.loader--visible {
  display: block;
}